p {
  font-family: Arial;
}

.a-12,
.b-12{
  display: flex;
  flex-direction: row;
}

.c-12{
  display: flex;
  flex-direction: row;
  justify-content: space-between;
}

.d-12{
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;

  height: 70px;
  border-width: 1px;
  border-style: solid;
  border-color: gray;
}

.e-12{
  border-width: 1px;
  border-color: rgb(200, 200, 200);
  width: 300;
  border-style: solid;
  border-radius: 6px;
}

.flexbox{
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
    
  padding-top: 6px;
  padding-bottom: 6px;
  padding-left: 12px;
  padding-right: 12px;
}

.notification{
  background-color: rgb(49, 109, 245);
  color: white;
  font-weight: bold;
  border: none;
  padding-top: 3px;
  padding-bottom: 3px;
  padding-left: 10px;
  padding-right: 10px;
  border-radius: 20px;
  font-size: 14
}

.f-12{
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: space-between;

  background-color: rgb(120, 82, 178);
  height: 60px;
  padding-left: 12px;
  padding-right: 12px;
  padding-top: 0;
  padding-bottom: 0;
}

.left-section{
  width: 50px;
  font-size: 16px;
  color: white;
  font-weight: bold;
}

.middle-section{
  flex: 1;
  max-width: 10000px;
  border-radius: 30px;   
  margin-left: 80px;
  margin-right: 100px;
    
  padding-top: 8px;
  padding-bottom: 8px;
}

.right-section{
  width: 100px;
  border-width: 1px;
  border-color: white;
  border-style: solid;
  background-color: rgb(120, 82, 178);
  color: white;
  font-size: 16px;

  padding-top: 8px;
  padding-bottom: 8px;
  padding-right: 4px;
  padding-left: 4px;
}

.g-12{
  display: flex;
  flex-direction: row;
  align-items: center;
  margin-bottom: 20px;
}

.image-g{
  height: 50px;
  width: 50px;
  object-fit: cover;
  border-radius: 50px;
  margin-right: 15px;
}

.text-g{
  width: 200px;
}

.name{
  font-weight: bold;
  font-size: 16px;
  margin-top: 0;
  margin-bottom: 3px;
}

.description{
  font-size: 16px;
  color: rgb(151, 151, 151);
  margin-top: 0;
  margin-bottom: 5px;
}

.status{
  font-size: 14px;
  color: rgb(151, 151, 151);
  margin-top: 0;
}

.follow-g{
  border: none;
  font-size: 16px;
  font-weight: bold;
  color: white;
  background-color:rgb(0, 157, 255);
  border-radius: 4px;

  padding-left: 8px;
  padding-right: 8px;
  padding-top: 6px;
  padding-bottom: 6px;
  cursor: pointer;
}