div {
  font-family: Arial;
}

.a-13{
  display: flex;
  flex-direction: row;
  height: 50px;
  margin-bottom: 15px;
}

.column1{
  background-color: lightpink;
  width: 100px;
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
}

.row2-items,
.item1{
  background-color: black;
  color: white;
}

.column2{
  background-color: lightblue;
  width: 200px;
}

.b-13{
  display: flex;
  flex-direction: row;
  height: 50px;
  margin-bottom: 15px;
}

.column1-b{
  background-color: lightpink;
  width: 100px;
}

.column2-b{
  background-color: lightblue;
  width: 200px;
}

.row2{
  display: flex;
  flex-direction: row;
  justify-content: space-between;
}

.e-13{  
  padding-right: 15px;
  padding-left: 15px;
  padding-top: 8px;
  padding-bottom: 8px;
  width: 400px;
  box-shadow: 0px 0px 4px rgba(0, 0, 0, 0.15);
  border-radius: 5px;
  margin-bottom: 15px;
}

.inbox{ 
  color: grey;
  font-size: 12px;
  margin-top: 0px;
  margin-bottom: 20px;
}

.account{
  display: flex;
  flex-direction: row;
  align-items: center;
  margin-bottom: 20px;
}

.image{
  height: 50px;
  width: 50px;
  object-fit: cover;
  border-radius: 25px;
  margin-right: 10px;
}

.email{
  flex: 1;
}

.first-row{
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
  margin-bottom: 3px;
}

.author{
  font-size: 18px;
  font-weight: bold;
}

.time{
  color: grey;
  font-size: 14px;
}

.topic{
  font-size: 16px;
  font-weight: bold;
  margin-bottom: 5px;
}

.content{
  font-size: 14px;
  color: grey;
}

.g-13{
  display: flex;
  flex-direction: row;
  width: 400px;
  box-shadow: 0 0 4px rgba(0, 0, 0, 0.15);
  
  padding-top: 8px;
  padding-bottom: 8px;
  padding-left: 12px;
  padding-right: 12px;
}

.image-g{
  height: 50px;
  width: 50px;
  object-fit: cover;
  border-radius: 25px;
  margin-right: 15px;
}

.content-g{
  flex: 1;
}

.author-g{
  display: flex;
  flex-direction: row;
}

.main-g{
  font-weight: bold;
  font-size: 15px;
  margin-right: 5px;
}

.sub-g{
  color: grey;
  font-size: 15px;
}

.description{
  font-size: 15px; 
  margin-bottom: 20px;
}

.video{
  display: flex;
  flex-direction: row;
  align-items: center;
  border-radius: 15px;
  border-width: 1px;
  border-style: solid;
  border-color: grey;
  overflow: hidden;
}

.background{
  width: 70px;
  height: 70px;
  background-color: grey;
  margin-right: 10px;
}

.youtube{
  flex: 1;
}

.grey{
  color: grey;
  font-size: 15px;
  margin-bottom: 3px;
}

.title{
  font-size: 15px;
  line-height: 22px;
}