body{
  height: 3000px;
}

.b-14{
  background-color: green;
  color: white;
  
  position: fixed;
  bottom: 0;
  right: 0;
  top: 0;
  width: 100px;
}

.d-14{
  background-color: rgba(0, 0, 0, 0.8);
  position: fixed;

  top: 0;
  bottom: 0;
  right: 0;
  left: 0;

  display: flex;
  justify-content: center;
  align-items: center;
}

.text{
  width: 300px;
  background-color: white;
  border-radius: 5px;

  padding-top: 15px;
  padding-bottom: 15px;
  padding-left: 12px;
  padding-right: 12px;
}

.title{
  font-size: 20px;
  font-weight: bold;
}

.this{
  font-size: 16px;
}