body{
  height: 3000px;
}

div{
  font-family: Arial;
}

.inner{
  position: fixed;

  left: 0;
  top: 0;
  bottom: 0;
  background-color: rgb(33, 33, 33);

  padding-left: 10px;
  padding-right: 10px;
  padding-top: 10px;
}

.image{
  height: 50px;
  width: 50px;
  object-fit: cover;
  border-radius: 25px;
  margin-bottom: 10px;
}

.outer{
  position: fixed;
  width: 200px;
  top: 0;
  bottom: 0;
  left: 70px;
  background-color: rgb(69, 69, 69);

  padding-left: 10px;
  padding-right: 10px;
  padding-top: 10px;
}

.topic{
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
  margin-bottom: 10px;
}

.info{
  color: white;
  font-weight: bold;
  font-size: 16px;
}

.plus{
  color: lightgrey;
  font-size: 26px;
}

.text{
  color: lightgrey;
  font-size: 18 px;
  margin-bottom: 15px;
}