div{
  font-family: Roboto, Arial;
}

body{
  height: 3000px;
}

.a-15{
  position: absolute;
  height: 50px;
  width: 50px;
  border: none;
  border-radius: 25px;
  color: white;
  background-color: black;
  display: flex;
  align-items: center;
  justify-content: center;

  top: -18px;
  left: -18px;
}

.b-15{
  position: fixed;
  width: 320px;
  height: 180px;
  bottom: 15px;
  right: 15px;

  background-color:grey;
}

.d-15{
  position: absolute;
  font-size: 14px;
  bottom: 10px;
  right: 10px;
  color: white;
  background-color: black;
  display: flex;
  align-items: center;
  justify-content: center;
  
  padding-left: 6px;
  padding-right: 6px;
  padding-top: 5px;
  padding-bottom: 5px;
}

.f-15{
  position: relative;
  display: inline-block;
}

.shirt{
  height: 250px;
  width: 250px;
  object-fit: cover;
}

.discount{
  background-color: black;
  color: white;

  position: absolute;
  top: 5px;
  right: 0;

  padding-right: 10px;
  padding-left: 10px;
  padding-top: 6px;
  padding-bottom: 6px;
}

.white{
  position: absolute;
  background-color: rgba(255, 255, 255, 0.5);
  height: 100px;

  bottom: 0;
  right: 0;
  left: 0;

  display: flex;
  justify-content: center;
  align-items: center;
}

.add{
  border-width: 1px;
  border-style: solid;
  background-color: white;
  

  padding-left: 12px;
  padding-right: 12px;
  padding-top: 6px;
  padding-bottom: 6px;
}