  p {
    font-family: Arial;
    margin-top: 0;
  }
  .tahoma-text {
    font-family: Tahoma;
    font-weight: bold;
    font-size: 30px;
    margin-bottom: 30px;
  }

  .arial-bd-text {
    font-weight: bold;
    font-size: 30px;
    margin-bottom: 10px;
  }

  .arial-s-text {
    font-style: italic;
    font-size: 20px;
    color: red;
  }

  .verdana-ht-text {
    font-weight: bold;
    font-size: 20px;
    margin-bottom: 5px;
  }

  .verdana-b-text {
    color: gray;
    font-size: 15px;
    margin-bottom: 25px;
  }

  .get-button {
    background-color: green;
    color: white;
    border-radius: 5px;
    font-size: 14px;
    padding-top: 6px;
    padding-bottom: 6px;
    padding-left: 12px;
    padding-right: 12px;
    border: none;
  }

  .shop-text {
    font-size: 25px;
    font-weight: bold;
    text-align: center;
    margin-bottom: 15px;
  }

  .see-text {
    font-size: 15px;
    text-align: center;
    margin-bottom: 15px;
  }
  
  .learn-text {
    font-size: 15px;
    color: rgb(27, 105, 251);
    text-align: center;
    margin-bottom: 15px;
  }

  .new-text {
    color: orange;
    font-size: 13px;
    margin-bottom: 5px;
    text-align: center;
  }

  .mac-text {
    font-size: 20px;
    text-align: center;
    margin-bottom: 5px;
  }

  .super-text {
    font-size: 30px;
    text-align: center;
    margin-bottom: 5px;
    font-weight: bold;
  }

  .from-text {
    color: grey;
    text-align: center;
    font-size: 15px;
  }

  .center {
    text-align: center;
  }

  .buy {
    background-color: rgb(0, 102, 255);
    color: white;
    border: none;
    border-radius: 15px;
    padding-left: 15px;
    padding-right: 15px;
    padding-top: 7px;
    padding-bottom: 7px;
    text-align: center;
  }

  .money {
    font-size: 30px;
    margin-bottom: 5px; 
  }

  .grey {
    color: grey;
    font-size: 15px;
  }

  .green {
    font-size: 15px;
    color: green;
    margin-bottom: 5px; 
  }
  
  .after {
    font-size: 15px;
    color: grey;
    margin-bottom: 15px; 
  }
  
  .red {
    color: red;
  }

  .model {
    font-family: Montserrat;
    font-size: 30px;
    font-weight: bold;
    margin-bottom: 10px;
    text-align: center;
  }

  .order {
    font-family: Montserrat;
    font-size: 20px;
    text-align: center;
  }