.cat {
  width: 200px;
  height: 200px;
  border-radius: 100px;
  object-fit: cover;
  object-position: center;
}

.search-bar{
  font-size: 16px;
  border-width: 1px;
  border-style: solid;
  border-color: rgb(200, 200, 200);
  padding-left: 15px;
  padding-right: 15px;
  padding-top: 12px;
  padding-bottom: 12px;
  border-radius: 8px;
}

.search-bar-upg{
  font-size: 16px;
  width: 500px;
  border: none;
  border-color: rgb(200, 200, 200);
  padding-left: 15px;
  padding-right: 15px;
  padding-top: 12px;
  padding-bottom: 12px;
  border-radius: 30px;
  box-shadow: 0 1px 5px rgba(0, 0, 0, 0.25);
}

.email{
  font-size: 15px;
  color: rgb(110, 110, 110);
}
.blank-search{
  height: 30px;
  width: 350px;
  border-width: 1.5px;
  border-style: solid;
  border-color: black;
  border-radius: 5px;
}

.agree{
  height: 50px;
  width: 356px;
  font-size: 20px;
  border: none;
  color: white;
  background-color: rgb(10, 102, 194);
  border-radius: 25px;
}

.cat-small{
  width: 50px;
  height: 50px;
  border-radius: 25px;
  object-fit: cover;
  object-position: center;
  vertical-align: middle;
  margin-right: 10px;
}
.posting{
  font-size: 18px;
  border: none;
  width: 300px;
  vertical-align: middle;
}
.tweet{
  background-color: rgb(29, 155, 240);
  color: white;
  border: none;
  padding-top: 9.5px;
  padding-bottom: 9.5px;
  padding-left: 16.5px;
  padding-right: 16.5px;
  border-radius: 18px;
  font-weight: bold;
  font-size: 15px;
  cursor: pointer;
  margin-left: 8px;
  vertical-align: middle;
}