.name-text,
.email-text{
  display:block;
  margin-bottom: 5px;
}

.thanks{
  vertical-align: middle;
  display: inline-block;
  width: 200px;
}

.google-logo{
  display: block;
  width: 200px;
  margin-left: 150px;
  margin-bottom: 15px;
}
.google-search{
  font-size: 16px;
  width: 500px;
  border: none;
  border-color: rgb(200, 200, 200);
  padding-left: 15px;
  padding-right: 15px;
  padding-top: 12px;
  padding-bottom: 12px;
  border-radius: 30px;
  box-shadow: 0 1px 5px rgba(0, 0, 0, 0.25);
}

.first-name,
.last-name{
  display: inline-block;
  border-width: 1px;
  border-color: rgb(200, 200, 200);
  padding-top: 12px;
  padding-bottom: 12px;
  padding-left: 16px;
  padding-right: 16px;
  font-size: 16px;
  border-radius: 8px;
  border-style: solid;
  width: 148px;
  margin-bottom: 12px;
}
.email-name{
  display: block;
  border-width: 1px;
  border-color: rgb(200, 200, 200);
  padding-top: 12px;
  padding-bottom: 12px;
  padding-left: 16px;
  padding-right: 16px;
  font-size: 16px;
  border-radius: 8px;
  border-style: solid;
  width: 334px;
  margin-bottom: 12px;
}
.sign-up{
  background-color: rgb(47, 127, 231);
  color: white;
  border: none;
  width: 366px;
  padding-top: 14px;
  padding-bottom: 14px;
  font-size: 18px;
  font-weight: bold;
  border-radius: 8px;
}

.request{
  font-weight: bold;
  font-size: 30px;
}
.enter{
  display: block;
  background-color: rgb(240, 240, 240);
  border: none;
  margin-bottom: 10px;
  padding-top: 15px;
  padding-bottom: 15px;
  padding-left: 20px;
  padding-right: 20px;
  font-size: 16px;
  width: 400px;
}
.request-now{
  background-color: black;
  color: white;
  border: none;
  padding-top: 15px;
  padding-bottom: 15px;
  padding-left: 25px;
  padding-right: 25px;
  font-size: 16px;
  margin-right: 20px;
}
.schedule{
  background-color: rgb(240, 240, 240);
  border: none;
  padding-top: 15px;
  padding-bottom: 15px;
  padding-left: 25px;
  padding-right: 25px;
  font-size: 16px;
}